/* tailwind declarations */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
mock size ( / 2 ) = 1440px
BREAKPOINTS:
  mobile: 440px
  sm: 601px
  tablet: 641px
  lg/dekstop: 1101px
*/

/* global styles */
:root {
  --welcomeWhite: #fff;
  --welcomeBlack: #000;
  --grayBlack: #1a1a1a;
  --primaryBlue: #4A8EE7;
  --primaryBlueLight: #6EABF9;
  --lightGray: #EEEFF4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gilroy';
}

.index-wrapper {
  width: 100%;
  background-color: var(--welcomeWhite);
}

/* icons */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icons */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Thick top border section headers */
.section-header {
  position: relative;
}
.section-header::before {
  content:'';
  position: absolute;
  background-color: var(--welcomeBlack);
  width: 55px;
  height: 5px;
  top: 0;
  left:0;
}

/* HERO element */
.swiper-button {
  border-radius: 50%;
  background-color: var(--welcomeWhite);
  position: absolute;
  top: calc(50% - 40px);
  padding: 10px;
}
.swiper-button-left {
  left: 15px;
}
.swiper-button-right {
  right: 15px;
}
@media screen and (max-width: 601px) {
  .swiper-button {
    top: calc(50% - 20px);
  }
}

/* HOW IT WORKS element */
.how-it-works__items-container .how-it-works__icon {
  border-radius: 50%;
  background-color: var(--welcomeBlack);
  padding: 20px;
}
.how-it-works__items-container h5 {
  font-size: 18px;
  letter-spacing: 0.025em;
}
.how-it-works__item p {
  letter-spacing: 0.05em;
}

@layer components {
  .btn {
    @apply inline-block py-[10px] px-[40px] rounded-md font-semibold focus:outline-none ring-2 ring-primary duration-300 cursor-pointer;
  }
  .btn-primary {
    @apply bg-primary text-white hover:bg-primaryLight hover:ring-primaryLight;
  }
  .btn-secondary {
    @apply bg-white text-primary hover:text-white hover:bg-primary;
  }
}

/* LIVE WHERE YOU WANT element */
.live-where-you-want__header::before {
  background-color: var(--lightGray);
  height: 8px;
  width: 52px;
}
.live-where-you-want__card {
  padding: 20px;
  display: inline;
}
.live-where-you-want__card > img {
  height: 220px;
  width: 375px;
}